In [4]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
'Student_ID': [1,2,3,4,5],
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
'Age': [25, None, 22,28,24],
'Grade' : ['A','B','C',None,'A'],
'City' : ['New York', 'San Fransico', 'Los Angeles','Chicago',
'Miami']
}

df = pd.DataFrame(data)
print("Task 1: Loaded Dataset")
print(df)

missing_cols = df.columns[df.isnull().any()]
missing_percentage = df[missing_cols].isnull().mean() * 100 
print("\nTask 2: Missing Values")
print("Columns with missing values:", list(missing_cols))
print("Percentage of missing values:\n", missing_percentage)

df['Age'].fillna(df['Age'].mean(), inplace=True) 
df['Grade'].fillna('Unknown', inplace=True) 
print("\nTask 3: Handled Missing Values")
print(df)

df['Name'] = df['Name'].str.upper()
print("\nTask 4: Converted Names to Uppercase")
print(df)

df['City_First_Letter'] = df['City'].str[0]
print("\nTask 5: Extracted First Letter of City")
print(df)

processed_file_path = "processed_dataset.csv"
df.to_csv(processed_file_path, index=False)
print("\nlask 6: Saved the Processed Dataset to",processed_file_path)
df['city_No_Spaces'] = df['City'].str.replace(' ','') 
print("\nTask 7: Replaced Spaces in city names")
print(df)

df ['Has_Substring_LA'] = df['City'].str.contains('LA') 
print("\nTask 8: Checked for Substring 'LA' in City Names")
print(df)

df[['First_name', 'Last_name']] = df['Name'].str.extract(r'(?P<first_name>\S+)(?:\s+(?P<Last_name>\S+))?',expand = True)
print("\nTask 9 : Extracted first and last name")
print(df)

df['Full_name'] = df['Name']
df = df.drop('Name', axis = 1) 
print("\nTask 10: Joined Firs5t and Last Name")
print(df)

df["Grade_Digits"] = df["Grade"].str.extract("(\d+)", expand=False)
print("\nTask 11: Extracted Digits from Grade")
print(df)

df["Vowel Count"] = df['City'].str.count("[aeiouAEIOU]")
print("\nTask 12: Counted Vowels in City hames")
print(df)

updated_file_path = 'updated_dataset.csv'
df.to_csv(updated_file_path, index=False)
print("\nTask 13: Saved the Updated Dataset to", updated_file_path)

Task 1: Loaded Dataset
   Student_ID     Name   Age Grade          City
0           1    Alice  25.0     A      New York
1           2      Bob   NaN     B  San Fransico
2           3  Charlie  22.0     C   Los Angeles
3           4    David  28.0  None       Chicago
4           5      Eva  24.0     A         Miami

Task 2: Missing Values
Columns with missing values: ['Age', 'Grade']
Percentage of missing values:
 Age      20.0
Grade    20.0
dtype: float64

Task 3: Handled Missing Values
   Student_ID     Name    Age    Grade          City
0           1    Alice  25.00        A      New York
1           2      Bob  24.75        B  San Fransico
2           3  Charlie  22.00        C   Los Angeles
3           4    David  28.00  Unknown       Chicago
4           5      Eva  24.00        A         Miami

Task 4: Converted Names to Uppercase
   Student_ID     Name    Age    Grade          City
0           1    ALICE  25.00        A      New York
1           2      BOB  24.75        B  San Fransico
2           3  CHARLIE  22.00        C   Los Angeles
3           4    DAVID  28.00  Unknown       Chicago
4           5      EVA  24.00        A         Miami

Task 5: Extracted First Letter of City
   Student_ID     Name    Age    Grade          City City_First_Letter
0           1    ALICE  25.00        A      New York                 N
1           2      BOB  24.75        B  San Fransico                 S
2           3  CHARLIE  22.00        C   Los Angeles                 L
3           4    DAVID  28.00  Unknown       Chicago                 C
4           5      EVA  24.00        A         Miami                 M

lask 6: Saved the Processed Dataset to processed_dataset.csv

Task 7: Replaced Spaces in city names
   Student_ID     Name    Age    Grade          City City_First_Letter  \
0           1    ALICE  25.00        A      New York                 N
1           2      BOB  24.75        B  San Fransico                 S
2           3  CHARLIE  22.00        C   Los Angeles                 L
3           4    DAVID  28.00  Unknown       Chicago                 C
4           5      EVA  24.00        A         Miami                 M

  city_No_Spaces
0        NewYork
1    SanFransico
2     LosAngeles
3        Chicago
4          Miami

Task 8: Checked for Substring 'LA' in City Names
   Student_ID     Name    Age    Grade          City City_First_Letter  \
0           1    ALICE  25.00        A      New York                 N
1           2      BOB  24.75        B  San Fransico                 S
2           3  CHARLIE  22.00        C   Los Angeles                 L
3           4    DAVID  28.00  Unknown       Chicago                 C
4           5      EVA  24.00        A         Miami                 M

  city_No_Spaces  Has_Substring_LA
0        NewYork             False
1    SanFransico             False
2     LosAngeles             False
3        Chicago             False
4          Miami             False

Task 9 : Extracted first and last name
   Student_ID     Name    Age    Grade          City City_First_Letter  \
0           1    ALICE  25.00        A      New York                 N
1           2      BOB  24.75        B  San Fransico                 S
2           3  CHARLIE  22.00        C   Los Angeles                 L
3           4    DAVID  28.00  Unknown       Chicago                 C
4           5      EVA  24.00        A         Miami                 M

  city_No_Spaces  Has_Substring_LA First_name Last_name
0        NewYork             False      ALICE       NaN
1    SanFransico             False        BOB       NaN
2     LosAngeles             False    CHARLIE       NaN
3        Chicago             False      DAVID       NaN
4          Miami             False        EVA       NaN

Task 10: Joined Firs5t and Last Name
   Student_ID    Age    Grade          City City_First_Letter city_No_Spaces  \
0           1  25.00        A      New York                 N        NewYork
1           2  24.75        B  San Fransico                 S    SanFransico
2           3  22.00        C   Los Angeles                 L     LosAngeles
3           4  28.00  Unknown       Chicago                 C        Chicago
4           5  24.00        A         Miami                 M          Miami

   Has_Substring_LA First_name Last_name Full_name
0             False      ALICE       NaN     ALICE
1             False        BOB       NaN       BOB
2             False    CHARLIE       NaN   CHARLIE
3             False      DAVID       NaN     DAVID
4             False        EVA       NaN       EVA

Task 11: Extracted Digits from Grade
   Student_ID    Age    Grade          City City_First_Letter city_No_Spaces  \
0           1  25.00        A      New York                 N        NewYork
1           2  24.75        B  San Fransico                 S    SanFransico
2           3  22.00        C   Los Angeles                 L     LosAngeles
3           4  28.00  Unknown       Chicago                 C        Chicago
4           5  24.00        A         Miami                 M          Miami

   Has_Substring_LA First_name Last_name Full_name Grade_Digits
0             False      ALICE       NaN     ALICE          NaN
1             False        BOB       NaN       BOB          NaN
2             False    CHARLIE       NaN   CHARLIE          NaN
3             False      DAVID       NaN     DAVID          NaN
4             False        EVA       NaN       EVA          NaN

Task 12: Counted Vowels in City hames
   Student_ID    Age    Grade          City City_First_Letter city_No_Spaces  \
0           1  25.00        A      New York                 N        NewYork
1           2  24.75        B  San Fransico                 S    SanFransico
2           3  22.00        C   Los Angeles                 L     LosAngeles
3           4  28.00  Unknown       Chicago                 C        Chicago
4           5  24.00        A         Miami                 M          Miami

   Has_Substring_LA First_name Last_name Full_name Grade_Digits  Vowel Count
0             False      ALICE       NaN     ALICE          NaN            2
1             False        BOB       NaN       BOB          NaN            4
2             False    CHARLIE       NaN   CHARLIE          NaN            4
3             False      DAVID       NaN     DAVID          NaN            3
4             False        EVA       NaN       EVA          NaN            3

Task 13: Saved the Updated Dataset to updated_dataset.csv